body{
    background-color: rgb(31, 51, 25);
}

.t {
    display: inline;
    margin-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-underline-position: unset;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content {
    display: block;
}

label{
    display: inline-block;
    width: 300px;
    text-align: left;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.inp {
    width: 20%;
    height: 20px;
}
form {
    margin-top: 70px;
    margin-left: 20px;
}
#but {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    
}
#butt{
    margin-left: 2;
}
