/* make background the same for all */
body {
    background-color: #202124;
}

/* modify headers  sart with strings*/
a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
    color: white;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* modify header div */
.head{
    height: 100px;
    text-align: right;
    color: white ;
    padding: 20px;
}
/* image possition */
.logo{
    text-align: center;
    height: 200px;
    margin-top: 20x;
    padding-top: 100px;
}
/* content and form */
.content {
    display: block;
    text-align: center;
}
.frm{
    display: inline-block;
}
/* input */
#in {
    display: block;
    width: 550px;
    height: 40px;
    background-color: #202124;
    border: 1px, solid;
    border-color: #8f929b;
    border-radius: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left: 20px;
}
/* button */
#but {
    margin-top: 20px;
    height: 36px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    background-color: #303134;
    border-color:  #303134;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 4px;
    font-size: 14px;
    min-width: 54px;
    cursor: pointer;
    line-height: 27px;
}

#advance_logo{
    width: 80px;
    height: auto;
    text-align: left;
    padding: 20px;
}
#but_advance {
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #8ab4f8;
    border-color: #8ab4f8;
    padding: 0 12 px;
    height: 30px;
    min-width: 120px;
    margin-top: 50px;
    text-align: center;

}
label{
    display: inline-block;
    width: 200px;
    text-align: left;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.inp{

    width: 550px;
    height: 40px;
    background-color: #202124;
    border: 1px, solid;
    border-color: #8f929b;
    border-radius: 4px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left: 20px;
}
#but_advance_div{
    text-align: right;
}
/* .inp_lab{
    display: block;
} */

/* body{
    background-color: #202124;
}
.t {
    display: inline;
    margin-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: white;
    text-underline-position: unset;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
label{
    display: inline-block;
    width: 200px;
    text-align: left;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.inp {
    height: 20px;
    border-radius: 5px;
    box-sizing: content-box;
    
       
}
#but {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    width: 150px;
    height: 26px;
    font-size: large;  

}

.head {
    padding: 2%;
    margin-top: 1%;
    text-align: right;
    
}
.content {
    margin-top: 2%;
    text-align: center;
}
.logo {
    text-align: center;
    margin-top: 6%;
}
#in{
    border-radius: 4px;
    background-color: #202124;
} */